body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div,ul,li,section,article,a,h1,h2,h3,h4,h5,h6,button,form,input,textarea,p{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root{
  --main-black: #222222;
  --main-blue: #155680;
  --dark-blue: #12496e;
}