.background{
  background-color: var(--main-blue);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.title{
  font-size: 1.4em;
  color: #ddd;
  cursor: default;
  user-select: none;
}

@media (max-width: 500px){
  .header{
    flex-direction: column;
    justify-content: center;
  }
}