.nav{
  display: flex;
  gap: 20px;
}

.navItem{
  font-size: 1.1em;
  font-weight: 500;
  color: var(--main-black);
  transition: color 0.2s ease;
  cursor: pointer;
}

.navItem:hover{
  color: #fff;
}

@media (max-width: 500px){
  .nav{
    margin-top: 10px;
  }
}