.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.button{
  position: relative;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: 600;
  color: #eee;
  background-color: var(--main-blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button::before{
  content: "";
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--dark-blue);
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: -1;
}

.button:hover::before{
  width: 100%;
}