.item{
  width: 32%;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
}

.item li{
  display: flex;
  justify-content: space-between;
  color: var(--main-blue);
}


.item:hover{
  border-color: var(--main-blue);
}

@media (max-width: 768px){
  .item{
    width: 48%;
  }
}

@media (max-width: 500px){
  .item{
    width: 80%;
  }
}